/* Latte Rosewater */
@define-color accent #dc8a78;
@define-color txt #4c4f69;
@define-color bg #eff1f5;
@define-color bg2 #bcc0cc;

 * {
    font-family: 'Iosevka Aile', monospace;
    font-size: 10pt;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 5px;
    border: 2px solid @accent;
    border-radius: 0px;
    background-color: @bg;
 }


 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: @bg;
 }


 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 2px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 4px;
    border: none;
    color: @accent;
    background-color: @bg2;
 }

 /* Text */
 #text {
    margin: 2px;
    padding: 2px;
    border: none;
    color: @txt;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg;
 }
