@define-color base   #ffffff;
@define-color mantle #eeeeee;
@define-color crust  #dddddd;

@define-color text     #444444;
@define-color subtext0 #666666;
@define-color subtext1 #555555;

@define-color surface0 #cccccc;
@define-color surface1 #bbbbbb;
@define-color surface2 #aaaaaa;

@define-color overlay0 #999999;
@define-color overlay1 #888888;
@define-color overlay2 #777777;

@define-color blue      #017bca;
@define-color lavender  #8584f7;
@define-color sapphire  #0ea0a0;
@define-color sky       #089ec0;
@define-color teal      #00a390;
@define-color green     #1a8e32;
@define-color yellow    #bc8705;
@define-color peach     #e46f2a;
@define-color maroon    #db3e68;
@define-color red       #b7242f;
@define-color mauve     #a65fd5;
@define-color pink      #d54597;
@define-color flamingo  #bb5d60;
@define-color rosewater #cc7983;
 * {
    all: unset;
    font-size: 14px;
    font-family: "Iosevka Aile";
  }
  
  #window,
  #match,
  #entry,
  #plugin,
  #main { background: transparent; }
  
  #match.activatable {
    border-radius: 10px;
    padding: .3rem .9rem;
    margin-top: .01rem;
  }
  #match.activatable:first-child { margin-top: 9px; }
  #match.activatable:last-child { margin-bottom: 1px; }
  
  #plugin:hover #match.activatable {
    border-radius: 10px;
    padding: .3rem;
    margin-top: .01rem;
    margin-bottom: 0;
  }
  

  #match:selected {
    color: @base;
    background: @rosewater;
    border-radius: 8px;
  }
  
  #entry {
    border-radius: 8px;
    margin: .3rem;
    padding: .6rem 1.0rem;
    caret-color: @rosewater;
    font-size: 26px;
    font-weight: 500;
  }
  
  list > #plugin {
    border-top: 1px solid rgba(255,255,255,.11);
    margin: 0.3rem;
    padding-top: 4px;
    padding-left: 3px;
    font-weight: 400;
  }

  list > #plugin:first-child { 
    margin-top: .3rem;
  }
  
  list > #plugin:last-child { 
    margin-bottom: .3rem; 
  }

  list > #plugin:hover { 
    padding: .7rem; 
  }
  
  box#main {
    border-color: @rosewater;    
    color: @text;
    border-width: 1px;
    border-style: solid;
    margin-top: 15px;
    background-color: @base;
    border-radius: 22px;
    padding: .7rem;
  }

  zlabel#plugin {
    font-size:14px;
  }
